{% extends 'layout/layout.html.twig' %}

{% block head %}
    Gestion des commentaires
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">


        <div>
            <a href="{{ generate_route('showCommentsList') }}">Historique des commentaires</a>
        </div>
        <h2>Commentaires en attente de validation</h2>
        <table class="table">
            <thead>
            <th>Titre</th>
            <th>Contenu</th>
            </thead>
            <tbody>
            {% if comments is not empty %}
                {% for comment in comments %}
                    <tr>
                        <td>De {{ comment.author }}</td>
                        <td>{{ comment.content }}</td>
                        <td>
                            <a href="{{ generate_route('validateComment', { id:comment.id }) }}" class="btn btn-success">Valider</a>
                            <a href="{{ generate_route('deleteComment', { id:comment.id }) }}" class="btn btn-danger"
                               onclick="return confirm('Êtes vous sûr de vouloir modérer ce commentaire ?')">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}