{% extends 'layout/layout.html.twig' %}

{% block head %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="category"><a href="{{ generate_route('category', { id:post.categoryId }) }}">{{ post.category }}</a></div>
                    <p>{{ post.lead }}</p>
                    {% if post.image %}
                    <p><img class="img-fluid" src="/assets/img/uploads/{{ post.image }}" alt="..." /></p>
                    {% endif %}
                    <p>{{ post.content }}</p>
                    <span class="caption text-muted">Créé par {{ post.author }}, le {{ post.lastUpdate|date("d/m/Y") }}</span>
                </div>
            </div>
        </div>
    </article>
{% endblock %}