{% extends 'layout/layout.html.twig' %}

{% block head %}
    Gestion des pages
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <h2>Gestion des pages</h2>

        <div>
            <a href="{{ generate_route('createPage') }}" class="btn btn-success">Créer une page</a>
        </div>
        <table class="table">
            <thead>
            <th>Titre</th>
            <th>Action</th>
            </thead>
            <tbody>
            {% if pages is not empty %}
                {% for page in pages %}
                    <tr>
                        <td><a href="{{ generate_route('showCustomPage', { slug:page.slug }) }}">{{ page.name }}</a></td>
                        <td>
                            <a href="{{ generate_route('editPage', { id:page.id }) }}" class="btn btn-primary">Modifier</a>
                            <a href="{{ generate_route('deletePage', { id:page.id }) }}" class="btn btn-danger"
                               onclick="return confirm('Êtes vous sûr de vouloir supprimer cette page ?')">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}