{% extends 'layout/layout.html.twig' %}

{% block head %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <h2>Bonjour {{ session.user.username }}</h2>

        <div>
            <a href="{{ generate_route('managePosts') }}" class="btn">Gérer les articles</a>
            <a href="{{ generate_route('managePages') }}" class="btn">Gérer les pages</a>
            <a href="{{ generate_route('manageCategories') }}" class="btn">Gérer les catégories</a>
            <a href="{{ generate_route('manageComments') }}" class="btn">Gérer les commentaires</a>
        </div>

        <form method="post">
            <div class="form-floating">
                <input type="password" name="password" class="form-control" placeholder="Changer de mot de passe" required />
                <label for="password">Changer de mot de passe</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password_confirm" class="form-control" placeholder="Confirmation du nouveau mot de passe" required />
                <label for="password_confirm">Confirmation du nouveau mot de passe</label>
            </div>
            <button class="btn btn-primary">Changer de mot de passe</button>
        </form>
    </div>
{% endblock %}