{% extends 'layout/layout.html.twig' %}

{% block head %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <h2>Bonjour {{ session.user.username }}</h2>

        <div>
            <a href="{{ generate_route('create') }}" class="btn btn-success">Ajouter un article</a>
        </div>

        <form method="post">
            <div class="form-floating">
                <input type="password" name="password" class="form-control" placeholder="Changer de mot de passe" required />
                <label for="password">Changer de mot de passe</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password_confirm" class="form-control" placeholder="Confirmation du nouveau mot de passe" required />
                <label for="password_confirm">Confirmation du nouveau mot de passe</label>
            </div>
            <button class="btn btn-primary">Changer de mot de passe</button>
        </form>

        <table class="table">
            <thead>
                <th>Titre</th>
                <th>Action</th>
            </thead>
            <tbody>
            {% if posts is not empty %}
                {% for post in posts %}
                    <tr>
                        <td><a href="{{ generate_route('singlePost', post.id) }}">{{ post.title }}</a></td>
                        <td>
                            <a href="index.php?c=post&a=edit&id={{ post.id }}" class="btn btn-primary">Modifier</a>
                            <a href="index.php?c=post&a=delete&id={{ post.id }}" class="btn btn-danger"
                                onclick="return confirm('Êtes vous sûr de vouloir supprimer cet article ?')">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}