{% extends 'layout/layout.html.twig' %}

{% block head %}
    Admin Dashboard
{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <h2>Bonjour {{ session.user.username }}</h2>

        <table class="table">
            <thead>
            <th>Gestion administrateur</th>
            <th>Action</th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{{ generate_route('manageComments') }}">({{ stats.waitingComments }}) Commentaires en attente de modération</a></td>
                    <td>
                        <a href="{{ generate_route('manageComments') }}" class="btn btn-primary">Gérer</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="{{ generate_route('managePosts') }}">({{ stats.posts }}) Articles postés</a></td>
                    <td>
                        <a href="{{ generate_route('managePosts') }}" class="btn btn-primary">Gérer</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="{{ generate_route('managePages') }}">({{ stats.publishedPages }}) Pages publiées</a></td>
                    <td>
                        <a href="{{ generate_route('managePages') }}" class="btn btn-primary">Gérer</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="{{ generate_route('manageCategories') }}">({{ stats.categories }}) Catégories existantes</a></td>
                    <td>
                        <a href="{{ generate_route('manageCategories') }}" class="btn btn-primary">Gérer</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="{{ generate_route('manageAccount') }}">Profil personnel</a></td>
                    <td>
                        <a href="{{ generate_route('manageAccount') }}" class="btn btn-primary">Modifier</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
{% endblock %}
